.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--beige);
    gap: 10%;
}

.login-container * {
    display: contents;
    color: var(--main-green);
}

.backButton{
    font-size: xxx-large;
}