.movie-info-container {
    height: 55%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-radius: var(--border-radius);
    margin: auto;
    gap: 5%;
}

.movie-info-img {
    border-radius: 0.75rem;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.info {
    height: fit-content;
    color: var(--main-font-color);
    font-weight: 100;
}

.movie-info-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: fit-content;
    justify-content: center;
}

.movie-info-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.movie-info-col * {
    padding: 1%;
    height: fit-content;
}

.info-val {
    border: 1px solid var(--main-font-color);
    border-radius: 0.25rem;
    width: fit-content;
    padding: 7%;
}

.movieInfo-goBack-button{
    position: absolute;
    top: 5%;
    right: 30%;
    color: var(--main-font-color);
    font-size: small;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: 1s ease;
    border-radius: 50%;
    border: 1px solid var(--main-font-color);
    opacity: 50%;
    height: 3vh;
    width: 3vh;
    text-align: center;
    line-height: 3vh;
}

.movieInfo-goBack-button:hover, .movieInfo-goBack-button:focus{
    color: white;
    border: 1px solid white;
    opacity: 100%;
    transition: 1s ease;
}

@media only screen and (max-width: 820px) {
    .movie-info-container {
        height: 55%;
        width: 80%;
    }
    .movieInfo-goBack-button{
        display: none;
    }
}