@import url(../App.css);

.card {
    height: 60%;
    width: 14%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--border-color); */
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius);
    background-color: var(--wrapper-color);
    z-index: 1;
    cursor: pointer;
}

.card:hover {
    height: 62%;
    width: 16%;
    border: 2px solid var(--main-font-color);
}

.card-opacity {
    background-color: var(--opacity);
    border-radius: var(--border-radius);
}

.card-opacity:hover {
    background-color: transparent;
}

.card-button-container {
    height: 60%;
    width: 100%;
    position: relative;
    border-radius: 0.75rem 0.75rem 0 0;
}

.img {
    border-radius: 0.75rem 0.75rem 0 0;
    object-fit: cover;
}

.info-row {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.info-text-container,
.info-ix-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    margin: auto;
    gap: 5%;
}

.info-text-container {
    width: 75%;
}

.info-ix-container {
    width: 25%;
    justify-content: space-between;
    margin: 0 auto;
}

.card-font {
    text-align: center;
    color: var(--bg);
    font-family: var(--main-font);
    font-weight: 800;
    font-size: var(--main-font-size);
    text-transform: capitalize;
}

.valoration {
    border: 1px solid var(--bg);
    height: fit-content;
    width: fit-content;
    padding: 10%;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fav-icon {
    font-size: 1rem;
    position: relative;
    display: contents;
    color: var(--main-font-color);
    z-index: 3;
}

.fav-icon-unfav {
    color: var(--main-font-color);
}

.fav-icon-fav {
    color: var(--bg);
}

.deleteButton,
.editButton,
.infoButton {
    width: 20%;
    height: 25%;
    position: absolute;
    right: 5%;
    top: 5%;
    background: var(--opacity);
    border: transparent;
    color: var(--bg);
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
    z-index: 3;
    cursor: pointer;
}

.editButton {
    top: 30%;
}

.infoButton {
    top: 55%;
}

.buttonSelected {
    color: var(--main-font-color);
}

@media only screen and (max-width: 820px) {
    /* .card {
        width: 44%;
        height: 50%;
    } */

    .card:hover {
        width: 10.5rem;
        height: 95%;
        border: 2px solid var(--main-font-color);
    }

    .list {
        height: 30%;
        width: 85%;
        display: grid;
        border-radius: 0.75rem;
        overflow-y: hidden;
        overflow-x: scroll;
        column-gap: 5%;
        grid-auto-flow: column;
        flex-basis: auto;
        justify-content: flex-start;
        align-items: center;
    }

    .card {
        width: 10rem;
        height: 90%;
    }
}