.fav-slider{
    position: relative;
    height: 30%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.slider-img{
    object-fit: cover;
}
.slide-button{
    position: absolute;
    height: fit-content;
    top: 50%;
    color: var(--dark-green);
    font-weight: bold;
    font-size: 1.5rem;
}
#backButton{
    left: 5%;
}
#nextButton{
    left: 95%;
}