.fav-slider {
    position: relative;
    height: 22.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: space-between;
    scroll-behavior: smooth;
    margin-top: 2.5%;
}

.slider-card {
    height: 100%;
    width: auto;
    min-width: 80%;
    margin: 0 2.5%;
}

.slider-img {
    object-fit: cover;
    position: relative;
}

.slider-card, .slider-img{
    border-radius: .75rem;
}

.slider-text {
    height: 10%;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    color: white;
    font-size: larger;
    text-transform: uppercase;
    bottom: 5%;
    padding-left: 5%;
}

.toggleButton{
    position: fixed;
    height: 5%;
    width: 11%;
    top: 25%;
    left: 45%;
    z-index: 1;
    border-radius: 50%;
    border: transparent;
    line-height: 5;
    background-color: var(--opacity);
    outline: none;
    color: var(--dark-green);
}

.skeleton {
    background-color: var(--opacity);
}

.d-none {
    display: none;
}