@import url(../App.css);
@import url(../components/card.css);

.list {
    height: 30%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
}

.list-title-container {
    height: 10%;
    width: 100%;
}

.list-title {
    height: fit-content;
    width: fit-content;
    text-transform: none;
    margin-left: 2.5%;
    font-weight: 800;
}

.list-card-container {
    height: 90%;
    width: 100%;
    display: grid;
    border-radius: 0.75rem;
    overflow-y: hidden;
    overflow-x: scroll;
    column-gap: 2%;
    grid-auto-flow: column;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: center;
    scroll-behavior: smooth;
}

.form-button {
    height: 5%;
    width: 5%;
    border-radius: 0.25rem;
    border: 2px solid var(--main-font-color);
    color: var(--main-font-color);
    font-weight: 800;
    font-size: var(--main-font-size);
    outline: none;
    cursor: pointer;
    background-color: var(--bg);
}

/*still 20% up inside container in mobile */

@media only screen and (max-width: 820px) {
    .list-title {
        margin-left: 10%;
    }

    .list-card-container{
        column-gap: 5%;
    }

    .form-button {
        width: 20%;
    }
}