.movie-info-container {
    height: 55%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-radius: var(--border-radius);
    margin: auto;
    gap: 5%;
}

.movie-info-img {
    border-radius: 0.75rem;
    object-fit: cover;
}

.info {
    height: fit-content;
    color: var(--main-font-color);
    font-weight: 100;
}

.movie-info-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: fit-content;
}

.movie-info-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-info-col * {
    padding: 1%;
    height: fit-content;
}

.info-val {
    border: 1px solid var(--main-font-color);
    border-radius: 0.25rem;
    width: fit-content;
    padding: 7%;
}



@media only screen and (max-width: 820px) {
    .movie-info-container {
        height: 80%;
        width: 80%;
    }
}