.preview{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius);
    background-color: var(--wrapper-color);
    z-index: 1;
    height: 75%;
}