.slider {
    height: 45vh;
    /* width: 110%; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-top: 1vh;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0))); */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 40vh;
    width: 100%;
    overflow: overlay;

}

.slider-container {
    width: 100% !important;
    height: 100%;
    margin: auto;
    position: absolute;    
}

.slider-img {
    object-fit: cover;
    /*fill?*/
    border-radius: 0.25rem;
    object-position: center;
    height: 100%;
    width: 100%;
}

.slider-button {
    height: fit-content;
    width: fit-content;
    color: rgba(255, 255, 255, 60%);
    font-size: 4rem;
    margin: auto 1rem;
    cursor: pointer;
    transition: 1s ease;
    position: absolute;
    top: 35%;
    z-index: 1;
}

.slider-button:hover,
.slider-button:focus {
    color: white;
    transition: 1s ease;
}

.slider-text-container {
    position: relative;
    height: 100%;
}

.slider-text {
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-transform: uppercase;
}

.dot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    box-sizing: content-box;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 10%;
    left: 70%;
}

.dot {
    color: rgba(255, 255, 255, 65%);
    height: fit-content;
    width: fit-content;
    font-size: .75rem;
    cursor: pointer;
}

.dot:hover,
.dot:focus {
    color: var(--bg);
}

.selected-dot {
    color: var(--main-font-color);
}

@media only screen and (max-width: 820px) {
    .slider {
        height: 40vh;
    }

    .slider-container {
        width: 90%;
    }

    .slider-button {
        font-size: 2rem;
    }

    .dot {
        font-size: .5rem;
    }

}