/* @import url(./components/list.css);
@import url(./components/card.css); */

:root {
    /*colors*/
    --darkest: #2f3e46;
    --dark-green: #354f52;
    --main-green: #52796f;
    --select-green: #84a98c;
    --beige: #cad2c5;
    --opacity: rgba(255, 255, 255, 10%);

    --black : rgb(0,0,0);
    --gray: rgb(102, 102, 102);
    --dark-gray: rgb(36, 36, 36);
    --light-gray: rgb(159, 159, 159);
    --netflix-red: rgb(229, 9, 20);

    /*elements*/
    --wrapper-color: var(--darkest);
    --container-color: var(--dark-green);
    --main-font-color: var(--beige);
    --border-color: var(--light-gray);
    --main-font: 'Crimson Pro', serif;;
    --border-radius: .75rem;
    --img: '/assets/shrek.jpg';
    --main-font-size: small;
    --main-font-sizeMP: smaller;

}

* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    background-color: var(--wrapper-color);
    height: 100%;
    width: 100%;
}

/* .line {
    border: 1px solid white;
} */